# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\cpste\PycharmProjects\eMenu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.log
*.pot
*.pyc
__pycache__/
venv/
e_menu_backend/settings.py
certname.crt
certname.key
local_settings.py
db.sqlite3
media
static/
templates/e_menu/HTML/